.card {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    border: 2px solid #dfdfdf;
    border-radius: 5px;
    padding: 1.1rem;
    img {
        height: 5.6rem;
        margin-right: 1rem;
    }
}

.employee {
    &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        & h2,
        p:not(:last-of-type) {
            margin-bottom: .5rem;
        }
    }
}